@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,100;1,600;1,700&display=swap');

*{
  padding : 0px;
  margin: 0%;
  box-sizing: border-box;
  /* color: white; */
  border: none;
}

body{
  font-family: "poppins", "san-serif";
  background: #000000;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  /* background: #7954A1; */
  color: #fff;

}

.navbar-container{
  width: 80%;
}

.navbar-container ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navbar-container ul li {
  width: 40%;
}

.navbar-container ul li ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.hero_container{
  /* position: relative; */
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2rem;
     /* background-color:#EFDCF9; */
}

.hero-inner{
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 2rem;
  width: 80%;
}

.social_media-container{
  /* position: absolute; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 70vh;
  gap: 2rem;
  margin-top: 10px;
  /* top: 0%;
  left: 8rem; */
}

.circle{
  padding: .5rem;
  background: #F58840;
  border-radius: 50%;
}

.straight-line{
  height: 50%;
  width: 2px;
  background: linear-gradient(#F58840, #000000);
}

.hero-text{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 0;
  width: 90%;
  /* height: 90vh; */
}

.head-text{
  font-size: 50px;
  color: #F58840;
}

.sub-text{
  font-size: 20px;
  color: #dfd9ff;
}

.computer-3d{
  width: 100%;
  /* margin-bottom: 5rem; */
  /* background: #000; */
  height: 80vh;
  margin-top: -10rem;
}

.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 3rem 0;
}

.about-grid{
  width: 85%;
  display: flex;
  align-items: center;
  gap: 3%;
}

.about-experience{
  width: 20%;
  background: #F58840;
  padding: 1rem;
  border-radius: 5px;
  height: max-content;
  color:#000;
}

.works-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 77%;
  gap: 30px;
  color: #EFDCF9;
}

.cards-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cards-details{
  background: #F58840;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  height: 170px;
  border-radius: 5px;
  gap: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0, .4);
  transition: .5s ease-in;
}

.cards-details:hover{
  background: #dfd9ff;
  transition: .5s ease-in;
  /* color: #fff; */
}

.stacks-container{
  background: #010101;
  color: #fff;
}

.section-head__text{
  font-size: 30px;
  text-align: center;
}

.section-sub__text{
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}









@media only screen and (max-width: 900px){
  .navbar-container{
    width: 90%;
    position: relative;
  }

  .navbar-container ul li ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: greenyellow;
    flex-direction: column;
    gap: .6rem;
    position: absolute;
    padding: 1rem;
  }
}